# postgres database url
NUXT_DB_HOST=localhost
NUXT_DB_PORT=5432
NUXT_DB_USER=postgres
NUXT_DB_PASSWORD=postgres
NUXT_DB_DATABASE_NAME=sge_lims_db
NUXT_DB_SSL=false

NUXT_API_BASE=/api

# jwt secret
NUXT_AUTH_JWT_ACCESS_TOKEN_EXPIRES_IN=5m
NUXT_AUTH_JWT_REFRESH_TOKEN_EXPIRES_IN=10m
NUXT_AUTH_JWT_ACCESS_TOKEN_SECRET=access-token-secret-base64
NUXT_AUTH_JWT_REFRESH_TOKEN_SECRET=refresh-token-secret-base64

NUXT_SESSION_PASSWORD=password-with-at-least-32-characters
